export const metadata = {
  title: "James Huang Portfolio",
  description: "Mechanical Design Engineer Portfolio",
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  );
}
